@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  font-family: Lato, sans-serif;
  color: $mainBlack;
  background: $mainWhite;
  line-height: 1.5;
}
a {
  text-decoration: none;
  display: flex;
  text-align: center;
}

.img {
  width: 100%;
  display: block;
  height: 15rem;
}

h1,
h2,
h3 {
  text-transform: capitalize;
  letter-spacing: $mainSpacing;
  margin-bottom: 1.25rem;
}
h1 {
  font-size: 3rem;
  color: dodgerblue;
}
h2 {
  margin-bottom: 0;
}
h3 {
  color: dodgerblue;
}
h5 {
  color: $colorSecondary;
}
p {
  font-weight: 300;
  font-size: 0.7rem;
  line-height: 2;
}
ul {
  list-style-type: none;
}
