.cards {
  padding: 1rem 0;
  .cards-center {
    width: 80vw;
    max-width: 1170px;
    margin: 2rem auto;

    .card {
      border: 1px solid gray;
      margin-bottom: 3rem;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr auto;

      .card-info {
        padding: 1rem;
      }

      .card-footer {
        background: $colorFooter;
        padding: 0.5rem 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        i {
          color: $colorFooter;
          color: dodgerblue;
          font-size: 2rem;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .cards-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 2rem;
  }
}
@media screen and (min-width: 1170px) {
  .cards-center {
    grid-template-columns: repeat(3, 1fr);
  }
}
